@import "./../../project/style.css";

:root {
  --button-text-color: var(--black);
  --button-shadow-color: var(--tundora);
  --button-bg-gradient-color: var(--jumbo), var(--bombay), var(--alto);
  --button-hover-color: var(--white);
  --button-bg-active-gradient-color: var(--bombay), var(--jumbo), var(--alto);
}

.menu-button {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0 0.55em;
  max-width: 100%;
  border-radius: 0.2em;
  box-shadow: 0 0.2em 0.3em var(--button-shadow-color);
  background: linear-gradient(to top, var(--button-bg-gradient-color));
  color: var(--button-text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.035em;
  line-height: 2em;
  font-family: Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.15s;
  cursor: pointer;
}

.fa-angle-down {
  padding-left: 0.3em;
  font-size: 1rem
}

.menu-button:hover {
  color: var(--button-hover-color);
}

.menu-button:active {
  background: linear-gradient(to bottom, var(--button-bg-active-gradient-color));
  box-shadow: none;
  transform: translateY(0.15em);
}