@import "./../../project/style.css";

:root {
  --facebook-icon-color: var(--chambray);
  --vk-icon-color: var(--wedgewood);
  --youtube-icon-color: var(--thunderbird);
  --facebook-icon-hover-bg-color: var(--chambray);
  --vk-icon-hover-bg-color: var(--wedgewood);
  --youtube-icon-hover-bg-color: var(--thunderbird);
  --icons-hover-color: var(--white);
  --footer-bg-color: var(--black);
  --media-icons-header-color: var(--bombay);
  --footer-copyright-color: var(--bombay);
}

.footer {
  width: 100%;
  background: var(--footer-bg-color);
  font-size: 1rem;
  font-family: Calibri, sans-serif;
}

.media-icons {
  box-sizing: border-box;
  text-align: center;
}

.media-icons__header {
  margin: 0;
  padding-top: 0.5em;
  color: var(--media-icons-header-color);
  font-size: 1.5em;
}

.media-icons__facebook {
  color: var(--facebook-icon-color);
}

.media-icons__vk {
  color: var(--vk-icon-color);
}

.media-icons__youtube {
  color: var(--youtube-icon-color);
}

.media-icons a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0.625em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  transition: 0.2s;
}

.media-icons i {
  line-height: 1.5;
  font-size: 1.7em;
  transition: 0.3s;
}

.media-icons__facebook:hover {
  background: var(--facebook-icon-hover-bg-color);
}

.media-icons__vk:hover {
  background: var(--vk-icon-hover-bg-color);
}

.media-icons__youtube:hover {
  background: var(--youtube-icon-hover-bg-color);
}

.media-icons a:hover i {
  color: var(--icons-hover-color);
  transform: scale(0.75);
}

.footer__copyright {
  margin: 0;
  padding-bottom: 0.5em;
  padding-top: 2em;
  color: var(--footer-copyright-color);
  font-weight: 600;
}