
nav {
    background-color: white;
    width: 560px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    height: 38px;
}

.item1:before {
    content: "\00AB";
    display: inline;
    padding: 4px;
}

.item3:after {
    content: "\00BB";
    display: inline;
    padding: 4px;
}

.item2 {
    padding: 11px 9px;
}

ul li {
    float: left;
    padding: 3px;
}

ul li a {
    color: #A13BCF;
    text-decoration: none;
    padding: 0 8px;
    font-family: monospace;
    font-size: smaller;
    line-height: 25px;
    display: block;
}

ul li a:hover {
    color: white;
    background:#A13BCF;
    border-radius: 4px;
}