
nav {
    background-color: #A64DFF;
    width: 1031px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 60px;
    height: 38px;
}

ul li {
    float: left;
    padding: 1px;
}

 ul li a {
    color: white;
    text-decoration: none;
    padding: 0 16px;
    font-family: fantasy;
    line-height: 38px;
    display: block;
}

  ul li a:hover {
    color: #A0A0A0;
    background:#EEEEEE;
}
