
body {
    width: 1837px;
}
table {
    border-collapse: collapse;
}

 tr {
    border: 2px  solid #CCCCCC;
}

 td {
     font-size: 26px;
     padding: 0 28px;
     width: 133px;
     height: 53px;
     text-align: center;
 }

 tr:nth-child(2n) {
     background-color: #DDEBF8;
 }

 td:nth-child(2n+3) {
     background-color: #F2F2DD;
 }
