div {
    margin: 20px;
}

input {
    display: none;
}

span {
    padding: 4px 7px;
    color: white;
    border-radius: 9px;
}

label {
    text-decoration: underline;
    padding: 0 20px;
    cursor: pointer;
}

label, span {
    font-family: monospace;
    font-size: 15px;
}

label[for="red"] {
    color: red;
}

label[for="green"] {
    color: green;
}

label[for="blue"] {
    color: blue;
    padding-right: 35px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#red:checked + label {
    color: #FFC6B7;
}

#green:checked + label {
    color: #8CC78C;
}

#blue:checked + label {
    color: #8EA2FF;
}

#red:checked ~ .red, #green:checked ~ .green, #blue:checked ~ .blue {
    display: none;
}