@import "./../../project/style.css";

:root {
  --header-bg-color: var(--tundora);
  --header-logo-bg-color: var(--bombay);
  --header-border-color: var(--black);
  --button-text-color: var(--black);
  --button-shadow-color: var(--black);
  --button-bg-gradient-color: var(--jumbo), var(--bombay), var(--alto);
  --button-hover-color: var(--white);
  --button-bg-active-gradient-color: var(--bombay), var(--jumbo), var(--alto);
  --feature-card-bg-color: var(--bombay);
  --feature-card-header-color: var(--black);
  --feature-card-button-color: var(--black);
  --feature-card-shadow-color: var(--tundora);
  --feature-card-border-color: var(--tundora);
  --feature-card-button-bg-color: var(--tundora), var(--jumbo), var(--alto);
  --feature-card-button-hover-color: var(--alto);
  --acoustic-guitars-header-color: var(--alto);
  --acoustic-guitars-proposal-color: var(--alto);
  --facebook-icon-color: var(--chambray);
  --vk-icon-color: var(--wedgewood);
  --youtube-icon-color: var(--thunderbird);
  --facebook-icon-hover-bg-color: var(--chambray);
  --vk-icon-hover-bg-color: var(--wedgewood);
  --youtube-icon-hover-bg-color: var(--thunderbird);
  --icons-hover-color: var(--white);
  --footer-bg-color: var(--black);
  --media-icons-header-color: var(--bombay);
  --footer-copyright-color: var(--bombay);
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 1rem;
}

.main-header {
  position: relative;
  width: 100%;
  border-bottom: solid 1em var(--header-border-color);
  border-top: solid 1em var(--header-border-color);
  background: url("./img/bg-header.jpg") no-repeat;
  background-size: cover;
  font-size: 1rem;
}

.main-header::after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: var(--alto);
  opacity: 0.35;
}

.main-header__logo-link {
  position: relative;
  margin-left: 4%;
  z-index: 1;
}

.main-header__text-logo {
  position: relative;
  bottom: 0.2em;
  margin: 0 4%;
  letter-spacing: 0.015em;
  font-weight: 600;
  font-size: 2em;
  font-family: "Monotype Corsiva", serif;
  z-index: 1;
}

.navigation {
  position: absolute;
  right: 4%;
  top: 5em;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  z-index: 1;
}

.navigation__main-list {
  display: flex;
  position: relative;
}

.navigation__drop-list {
  display: block;
  position: absolute;
  border-radius: 0.2em;
}

ul[class^="navigation"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__menu-button {
  display: inline-block;
  margin-right: 1em;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
}

.navigation__sub-menu-button {
  display: none;
  margin: 0.4em 0 0;
  padding: 0 1.9em 0 0.55em;
  font-family: "Trebuchet MS", sans-serif;
}

a[class^="navigation"] {
  overflow: hidden;
  max-width: 100%;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.3em 0.5em var(--button-shadow-color);
  background: linear-gradient(to top, var(--button-bg-gradient-color));
  color: var(--button-text-color);
  text-decoration: none;
  letter-spacing: 0.035em;
  line-height: 2em;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.fa-angle-down {
  padding-left: 0.3em;
  font-size: 1rem
}

a[class^="navigation"]:hover {
  color: var(--button-hover-color);
}

a[class^="navigation"]:active {
  background: linear-gradient(to bottom, var(--button-bg-active-gradient-color));
  box-shadow: none;
  transform: translateY(0.15em);
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("./img/bg-section.jpg") no-repeat;
  background-size: cover;
}

.wrapper:before {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: black;
  opacity: 0.7;
}

.wrapper:after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: url("./img/pattern.png");
  opacity: 0.2;
}

.acoustic-guitars__header {
  position: relative;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  color: var(--acoustic-guitars-header-color);
  z-index: 1;
}

.acoustic-guitars {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  width: 42em;
  background: var(--alto);
  border: solid grey 0.125em;
  border-radius: 0.5em;
  z-index: 1;
  opacity: 0.8;
}

.acoustic-guitars__feature-card {
  margin: 2.3em;
  box-sizing: border-box;
  background: var(--feature-card-bg-color);
  box-shadow: 0.3em 0.4em 1.25em var(--feature-card-shadow-color);
  border-radius: 0.25em;
  text-align: center;
  transition: 0.25s;
}

.acoustic-guitars__feature-card-header {
  margin: 0;
  box-sizing: border-box;
  color: var(--feature-card-header-color);
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.acoustic-guitars__feature-card-button {
  display: block;
  margin: 0.3em 1em 0.8em 1em;
  background: linear-gradient(to top, var(--feature-card-button-bg-color));
  color: var(--feature-card-button-color);
  border-radius: 0.25em;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
  transition: 0.15s;
}

.fa-angle-double-right {
  margin-left: 0.3em;
  vertical-align: -0.1em;
}

.acoustic-guitars__feature-card:hover {
  box-shadow: 0.8em 0.8em 0.8em var(--feature-card-shadow-color);
  transform: scale(1.08);
}

.acoustic-guitars__feature-card-button:hover {
  color: var(--feature-card-button-hover-color);
}

.acoustic-guitars__feature-card-button:active {
  background: linear-gradient(to bottom, var(--feature-card-button-bg-color));
  transform: translateY(0.15em);
}

.acoustic-guitars__proposal {
  position: relative;
  margin: 0;
  padding-top: 2em;
  padding-bottom: 6em;
  font-size: 1.2em;
  color: var(--acoustic-guitars-proposal-color);
  z-index: 1;
}

.footer {
  width: 100%;
  background: var(--footer-bg-color);
  font-size: 1rem;
}

.media-icons {
  box-sizing: border-box;
  text-align: center;
}

.media-icons__header {
  margin: 0;
  padding-top: 0.5em;
  color: var(--media-icons-header-color);
  font-size: 1.5em;
}

.media-icons__facebook {
  color: var(--facebook-icon-color);
}

.media-icons__vk {
  color: var(--vk-icon-color);
}

.media-icons__youtube {
  color: var(--youtube-icon-color);
}

.media-icons a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0.625em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  transition: 0.2s;
}

.media-icons i {
  line-height: 1.5;
  font-size: 1.7em;
  transition: 0.3s;
}

.media-icons__facebook:hover {
  background: var(--facebook-icon-hover-bg-color);
}

.media-icons__vk:hover {
  background: var(--vk-icon-hover-bg-color);
}

.media-icons__youtube:hover {
  background: var(--youtube-icon-hover-bg-color);
}

.media-icons a:hover i {
  color: var(--icons-hover-color);
  transform: scale(0.75);
}

.footer__copyright {
  margin: 0;
  padding-bottom: 0.5em;
  padding-top: 2em;
  color: var(--footer-copyright-color);
  font-weight: 600;
}

@media (max-width: 1000px) {

  .navigation {
    position: absolute;
    right: 0;
    top: 3.3em
  }

  .main-header__logo-link {
    position: relative;
    margin-left: 1%;
  }

  .main-header__text-logo {
    position: relative;
    margin: 0 1%;
    font-size: 1.5em;
  }

  .main-header img {
    width: 280px;
    height: 65px;
  }

  .navigation__menu-button {
    padding: 0 0.3em;
  }
}