.media-icons {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
}

.media-icons__header {
  margin: 0;
  font-family: Calibri, sans-serif;
  font-size: 1.5rem;
}

.media-icons__facebook {
  color: #3b5999;
}

.media-icons__vk {
  color: #4c75a3;
}

.media-icons__youtube {
  color: #cd201f;
}

.media-icons a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0.625em;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.media-icons i {
  line-height: 2rem;
  font-size: 1.375rem;
  transition: 0.2s linear;
}

.media-icons__facebook:hover {
  background-color: #3b5999;
}

.media-icons__vk:hover {
  background-color: #4c75a3;
}

.media-icons__youtube:hover {
  background-color: #cd201f;
}

.media-icons a:hover i {
  color: white;
  transform: scale(0.75);
}