@import "./../../project/style.css";

:root {
  --button-text-color: var(--black);
  --button-shadow-color: var(--tundora);
  --button-bg-gradient-color: var(--jumbo), var(--bombay), var(--alto);
  --button-hover-color: var(--white);
  --button-bg-active-gradient-color: var(--bombay), var(--jumbo), var(--alto);
}

.navigation {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.navigation__main-list {
  display: flex;
  position: relative;
}

.navigation__drop-list {
  display: block;
  position: absolute;
  border-radius: 0.2em;
}

ul[class^="navigation"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__menu-button {
  display: inline-block;
  margin-right: 1em;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
}

.navigation__sub-menu-button {
  display: block;
  margin: 0.4em 0 0;
  padding: 0 1.9em 0 0.55em;
  font-family: "Trebuchet MS", sans-serif;
}

a[class^="navigation"] {
  overflow: hidden;
  max-width: 100%;
  border-radius: 0.2em;
  box-shadow: 0 0.2em 0.3em var(--button-shadow-color);
  background: linear-gradient(to top, var(--button-bg-gradient-color));
  color: var(--button-text-color);
  text-decoration: none;
  letter-spacing: 0.035em;
  line-height: 2em;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.fa-angle-down {
  padding-left: 0.3em;
  font-size: 1rem
}

a[class^="navigation"]:hover {
  color: var(--button-hover-color);
}

a[class^="navigation"]:active {
  background: linear-gradient(to bottom, var(--button-bg-active-gradient-color));
  box-shadow: none;
  transform: translateY(0.15em);
}