.header {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.logo {
  margin-top: 30px;
  margin-left: 150px;
}

.menu {
  margin-right: 150px;
}

li {
  margin-top: 50px;
  list-style-type: none;
  float: right;
}

.btn-menu {
  text-decoration: none;
  color: #551A8B;
  font-weight: 600;
  padding: 0 10px 28px 10px;
}

.btn-menu:active, :focus {
  color: #ff1227;
}

.btn-menu:hover {
  border-bottom: 4px solid #2C73B1;
}

.background {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  background: url("image/title-back.jpg") no-repeat center;
  margin-top: 30px;
}

.content-1 {
  font-size: 34px;
  padding-top: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.content-2 {
  text-transform: uppercase;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

.content-3 {
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.btn {
  color: white;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
  display: inline-block;
  padding: 15px 50px;
  margin-bottom: 160px;
}

.btn:hover {
  color: #2C73B1;
  border-color: #2C73B1;
}