.first {
  width: 296px;
  border-radius: 6px;
  box-shadow: #E0EEF5 0 0 6px 4px;
}

.logo {
  height: 65px;
  border: #EE8129 solid 4px;
  border-radius: 6px 6px 0 0;
  background-color: #EE8129;
}

.content {
  border: solid 4px #EE8129;
  height: 388px;
  border-radius: 0 0 6px 6px;
}

.logo p {
  margin-top: 22px;
  margin-left: 12px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

h1 {
  margin-left: 12px;
  margin-top: 17px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

h1, a, .logo p, .list1, .list2 {
  text-transform: uppercase;
}

.price {
  height: 90px;
  margin-top: 30px;
  margin-right: 52px;
}

.price p {
  margin-top: -19px;
  margin-left: 68px;
  font-size: 70px;
  font-weight: 600;
}

h1, li, a, .price p, p:after, .logo p {
  font-family: "Trebuchet MS";
}

.price p:before {
  content: "\0024";
  font-size: 20px;
  vertical-align: 38px;
}

.price p:after {
  content: "Monthly";
  font-size: 18px;
  vertical-align: -10px;
  margin-left: -6px;
}

li {
  list-style-type: none;
  margin-top: 1px;
  margin-left: -26px;
  margin-right: 14px;
  padding: 7px 20px;
  font-size: 16px;
  color: #888C94;
}

li:before {
  content: url(image/arrow.png);
  margin-left: 14px;
  padding-right: 14px;
}

.list1, .list3 {
  background-color: #EDF5FD;
}

.list2, .list4 {
  background-color: #F5F5F6;
}

a {
  text-decoration: none;
  vertical-align: -14px;
  color: white;
  background-color: #EE8129;
  padding: 11px 76px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.link {
  position: absolute;
  border-bottom: #B3560B solid 6px;
  margin-left: 18px;
  padding-bottom: 8px;
  border-radius: 4px;
}