h1 {
    text-align: right;
    color: orange;
}
h2 {
    color: orange;
}
.item1 {
    color: darkblue;
}
p:first-letter {
    font-size: 30px;
    color: red;
}
p>i {
    background-color: darkgreen;
    color: white;
    font-size: 15px;
}
ol {
    color: grey;
}
.item2 {
    color: red;
}
.item3 {
    color: green;
}
table {
    width: 450px;
}
td {
    text-align: center;
    font-weight: bold;
}
.item4 {
    text-align: left;
    color: orange;
}
.item5 {
    background-color: darkgreen;
    color: white;
}