@import "./../../project/style.css";

:root {
  --feature-card-bg-color: var(--bombay);
  --feature-card-header-color: var(--tundora);
  --feature-card-button-color: var(--black);
  --feature-card-shadow-color: var(--tundora);
  --feature-card-border-color: var(--tundora);
  --feature-card-button-bg-color: var(--tundora), var(--jumbo), var(--alto);
  --feature-card-button-hover-color: var(--alto);
}

.feature-card {
  position: absolute;
  box-sizing: border-box;
  background: var(--feature-card-bg-color);
  box-shadow: 0.3em 0.4em 1.25em var(--feature-card-shadow-color);
  border-radius: 0.25em;
  font-size: 1rem;
  font-family: Calibri, sans-serif;
  text-align: center;
  transition: 0.25s;
}

.feature-card__header {
  margin: 0;
  box-sizing: border-box;
  color: var(--feature-card-header-color);
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.feature-card__button {
  display: block;
  margin: 0.3em 1em 0.8em 1em;
  background: linear-gradient(to top, var(--feature-card-button-bg-color)) ;
  color: var(--feature-card-button-color);
  border-radius: 0.25em;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
  transition: 0.15s;
}

.fa-angle-double-right {
  margin-left: 0.3em;
  vertical-align: -0.1em;
}

.feature-card:hover {
  box-shadow: 0.8em 0.8em 0.8em var(--feature-card-shadow-color);
  transform: scale(1.04);
}

.feature-card__button:hover {
  color: var(--feature-card-button-hover-color);
}

.feature-card__button:active {
  background: linear-gradient(to bottom, var(--feature-card-button-bg-color));
  transform: translateY(0.15em);
}