.block-reviews {
  margin: 0 auto;
  width: 100%;
  height: 315px;
  background-color: black;
  font-family: "Trebuchet MS";
}

h1 {
  padding-top: 50px;
  margin: 0 auto 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 100;
  color: #3170A8;
}

.content {
  width: 80%;
  left: 10%;
  height: 100px;
  position: relative;
}

.ninja-feedback, .deer-feedback {
  color: #7F7F7F;
  border: 19px solid white;
  position: absolute;
  font-size: 13px;
  background-color: white;
}

.ninja-feedback {
  bottom: -11px;
  left: 126px;
}

.deer-feedback {
  left: 664px;
  top: -13px;
}

.ninja-feedback > i, em, .deer-feedback > i, em {
  color: #588BB8;
}

.ninja-feedback:before, .deer-feedback:before {
  content: "";
  left: -48px;
  top: 20px;
  position: absolute;
  border: 14px solid transparent;
  border-right: 15px solid white;
}

.img-deer {
  position: absolute;
  left: 538px;
}

.img-ninja, .img-deer {
  width: 100px;
}

.first-word {
  color: #EE8129;
}

.ninja-feedback > em {
  padding-left: 174px;
}

.deer-feedback > em {
  padding-left: 198px;
}

.dots {
  position: relative;
  color: black;
  bottom: 3px;
}