.price-block-1 {
  border-radius: 6px;
  box-shadow: #CCE2EF 0 0 11px 2px;
  border: #EE8129 solid 4px;
  top: 38px;
  z-index: 1;
}

.price-block-2 {
  border: #E8EAEC solid 1px;
  border-radius: 6px 0 0 6px;
  right: 292px;
  bottom: 418px;
}

.price-block-3 {
  border: #E8EAEC solid 1px;
  border-radius: 0 6px 6px 0;
  left: 292px;
  bottom: 862px;
}

.price-block-1, .price-block-2, .price-block-3 {
  background-color: white;
  position: relative;
  width: 288px;
  margin: 0 auto;
  font-family: "Trebuchet MS";
  text-align: center;
}

.rate-1 {
  margin: 0;
  padding: 22px 0 22px 12px;
  background-color: #EE8129;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.rate-2 {
  background-color: #2BC2D5;
  border-radius: 6px 0 0;
}

.rate-3 {
  background-color: #00B89A;
  border-radius: 0 6px 0 0;
}

.rate-2, .rate-3 {
  position: relative;
  margin: 0;
  padding: 20px 0 14px 12px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
}

h1 {
  color: #40525C;
  font-family: "Trebuchet MS";
  text-align: center;
  font-size: 30px;
}

h3 {
  color: #3F4042;
  margin: 18px 0 0 12px;
  font-size: 24px;
  font-weight: 600;
}

h1, h3, a, .rate-1, .rate-2, .rate-3 {
  text-transform: uppercase;
}

p {
  color: #35495A;
  margin: 12px 0 24px 4px;
  font-size: 70px;
  font-weight: 600;
}

sup {
  color: #35495A;
  font-size: 20px;
  vertical-align: 38px;
}

sub {
  color: #35495A;
  font-size: 18px;
  vertical-align: -10px;
  margin-left: -6px;
}

li {
  list-style-type: none;
  margin-top: 1px;
  margin-left: -26px;
  margin-right: 14px;
  padding: 7px 20px;
  font-size: 16px;
  color: #888C94;
  text-align: left;
}

li:nth-child(odd) {
  background-color: #EDF5FD;
}

li:nth-child(even) {
  background-color: #F5F5F6;
}

li:before {
  content: url(image/arrow.png);
  margin-left: 14px;
  padding-right: 14px;
}

.btn1 {
  margin: 18px 18px 32px 18px;
  background-color: #EE8129;
  box-shadow: #b3560b 0 3px 0 0;
}

.btn2, .btn3 {
  margin: 18px 18px 22px 18px;
  background-color: #2F70A8;
  box-shadow: #12426B 0 3px 0 0;
}

.btn1, .btn2, .btn3 {
  display: block;
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}