@import "./../../project/style.css";

:root {
  --header-bg-color: var(--tundora);
  --header-logo-bg-color: var(--bombay);
  --header-border-color: var(--black);
  --button-text-color: var(--black);
  --button-shadow-color: var(--black);
  --button-bg-gradient-color: var(--jumbo), var(--bombay), var(--alto);
  --button-hover-color: var(--white);
  --button-bg-active-gradient-color: var(--bombay), var(--jumbo), var(--alto);
}

.main-header {
  position: relative;
  width: 100%;
  border-bottom: solid 1em var(--header-border-color);
  border-top: solid 1em var(--header-border-color);
  background: url("./img/bg-img.jpg") no-repeat;
  background-size: cover;
  font-size: 1rem;
}

.main-header::after {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: var(--alto);
  opacity: 0.35;
}

.main-header__logo-link {
  position: relative;
  margin-left: 7%;
  z-index: 1;
}

.main-header__text-logo {
  position: relative;
  bottom: 0.2em;
  margin: 0 7%;
  letter-spacing: 0.015em;
  font-weight: 600;
  font-size: 2em;
  font-family: "Monotype Corsiva", serif;
  z-index: 1;
}

.navigation {
  position: absolute;
  right: 4%;
  top: 5em;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  z-index: 1;
}

.navigation__main-list {
  display: flex;
  position: relative;
}

.navigation__drop-list {
  display: block;
  position: absolute;
  border-radius: 0.2em;
}

ul[class^="navigation"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__menu-button {
  display: inline-block;
  margin-right: 1em;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
}

.navigation__sub-menu-button {
  display: none;
  margin: 0.4em 0 0;
  padding: 0 1.9em 0 0.55em;
  font-family: "Trebuchet MS", sans-serif;
}

a[class^="navigation"] {
  overflow: hidden;
  max-width: 100%;
  border-radius: 0.2em;
  box-shadow: 0.2em 0.3em 0.5em var(--button-shadow-color);
  background: linear-gradient(to top, var(--button-bg-gradient-color));
  color: var(--button-text-color);
  text-decoration: none;
  letter-spacing: 0.035em;
  line-height: 2em;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.fa-angle-down {
  padding-left: 0.3em;
  font-size: 1rem
}

a[class^="navigation"]:hover {
  color: var(--button-hover-color);
}

a[class^="navigation"]:active {
  background: linear-gradient(to bottom, var(--button-bg-active-gradient-color));
  box-shadow: none;
  transform: translateY(0.15em);
}

@media (max-width: 1000px) {

  .navigation {
    position: absolute;
    right: 0;
    top: 3.3em
  }

  .main-header__logo-link {
    position: relative;
    margin-left: 1%;
  }

  .main-header__text-logo {
    position: relative;
    margin: 0 1%;
    font-size: 1.5em;
  }

  .main-header img {
    width: 280px;
    height: 65px;
  }

  .navigation__menu-button {
    padding: 0 0.3em;
  }
}

@media (max-width: 780px) {

}